.form-add-member {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	transition: all 0.3s ease-in-out;
}

.form-add-member.active {
	transform: translateX(0%);
}

.form-add-member-content {
	background-color: #fff;
	width: 500px;
	height: 100%;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	transform: translateX(-100%);
	transition: all 0.3s ease-in-out;
}

.form-add-member.active .form-add-member-content {
	transform: translateX(0%);
}

.form-add-member-close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 24px;
	font-weight: bold;
	color: #888;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	max-width: 350px;
	background-color: #23c483;
	padding: 20px;
	border-radius: 20px;
	position: relative;
}

.title {
	font-size: 28px;
	color: royalblue;
	font-weight: 600;
	letter-spacing: -1px;
	position: relative;
	display: flex;
	align-items: center;
	padding-left: 30px;
}

.title::before,
.title::after {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	border-radius: 50%;
	left: 0px;
	background-color: royalblue;
}

.title::before {
	width: 18px;
	height: 18px;
	background-color: royalblue;
}

.title::after {
	width: 18px;
	height: 18px;
	animation: pulse 1s linear infinite;
}

.message,
.signin {
	color: rgba(88, 87, 87, 0.822);
	font-size: 14px;
}

.signin {
	text-align: center;
}

.signin a {
	color: royalblue;
}

.signin a:hover {
	text-decoration: underline royalblue;
}

.flex {
	display: flex;
	width: 100%;
	gap: 6px;
}

.form label {
	position: relative;
}

.form label .input {
	width: 100%;
	padding: 10px 10px 20px 10px;
	outline: 0;
	border: 1px solid rgba(105, 105, 105, 0.397);
	border-radius: 10px;
}

.form label .input+span {
	position: absolute;
	left: 10px;
	top: 15px;
	color: grey;
	font-size: 0.9em;
	cursor: text;
	transition: 0.3s ease;
}

.form label .input:placeholder-shown+span {
	top: 15px;
	font-size: 0.9em;
}

.form label .input:focus+span,
.form label .input:valid+span {
	top: 30px;
	font-size: 0.7em;
	font-weight: 600;
}

.form label .input:valid+span {
	color: green;
}

.submit {
	border: none;
	outline: none;
	background-color: royalblue;
	padding: 10px;
	border-radius: 10px;
	color: #fff;
	font-size: 16px;
	transform: .3s ease;
}

.submit:hover {
	background-color: rgb(56, 90, 194);
}

@keyframes pulse {
	from {
		transform: scale(0.9);
		opacity: 1;
	}

	to {
		transform: scale(1.8);
		opacity: 0;
	}
}